<div class="main">
  <div class="container">
    <h1>Testin' out this stuff</h1>
    <p>susanne can u see this test?</p>

    <div class="player">
      <h2>Player view</h2>
      <a href="player">The player</a>
    </div>
  </div>
</div>