<div class="main">
  <div class="container">

    <div id="content">
      <h1>A brief introduction to my apartment</h1>
      <img src="https://a2.muscache.com/im/pictures/0495beeb-64e2-4b1b-bfcb-64a70cce0059.jpg" alt="livingroom" >
      <div id="toc">

      </div>

      <script type="text/javascript">
        window.onload = function () {
          var toc = "";
          var level = 0;

          document.getElementById("contents").innerHTML =
              document.getElementById("contents").innerHTML.replace(
                  /<h([\d])>([^<]+)<\/h([\d])>/gi,
                  function (str, openLevel, titleText, closeLevel) {
                    if (openLevel != closeLevel) {
                      return str;
                    }

                    if (openLevel > level) {
                      toc += (new Array(openLevel - level + 1)).join("<ul>");
                    } else if (openLevel < level) {
                      toc += (new Array(level - openLevel + 1)).join("</ul>");
                    }

                    level = parseInt(openLevel);

                    var anchor = titleText.replace(/ /g, "_");
                    toc += "<li><a href=\"#" + anchor + "\">" + titleText
                        + "</a></li>";

                    return "<h" + openLevel + "><a name=\"" + anchor + "\">"
                        + titleText + "</a></h" + closeLevel + ">";
                  }
              );

          if (level) {
            toc += (new Array(level + 1)).join("</ul>");
          }

          document.getElementById("toc").innerHTML += toc;
        };
      </script>

      <div id="contents">
        <h2>Wifi name: Politiets sikkerhetstjeneste Pasword: Jungelboken </h2>
<h2>Checkout: when you're checking out leave the keys in my mailbox marked with Vegard Nyeng and Pål solvang</h2>
        <h2>Directions</h2>
        <p><strong>Tldr;</strong>If you’re good with Google Maps and don’t like following guides, skip to the “getting in to my apartment” part of
          this tutorial and use this as your basis: <strong>Urtegata 24 a 0187 Oslo, 2nd floor, door marked with “Vegard Wright”.</strong> </p>
        <h2>From the airport</h2>
        <p>Follow directions to get to the trains, just head to the right as soon as you exit luggage drop offs. Here you got two options:
          Flytoget or the regular trains. Regular trains are ~half as cheap and 2 minutes slower, so I’d advice you to take these. Buy a ticket on the
          machine which saves you 20 kr and purchase one ticket to Oslo Central Station. </p>
        <h2>From Oslo Central station</h2>
        <p>Your train ticket will work as a transfer ticket to the subway, so take the subway (t-bane). Head downstairs, follow the signs that’ll take you there,
          and head to the eastbounded direction (ØST). You’re only going one stop, so if the next stop isn’t Grønland, you’re going the wrong direction and
          needs to go two stations back, no worries.</p>
        <h2>From Grønland t-bane station (subway)</h2>
        <p>Walk up the stairs and turn to the right, make sure you’re walking the path that has the longest corridor through all
          the different shops inside the subway station.</p>
        <h3>If you are picking up keys</h3>
        <p>You’re going to this corner store located at this address: Tøyengata 2, 0190 Oslo. When exiting up the stairs walk straight through the square / market
         covered with various benches and trees till you see this</p>
        <img src="https://drive.google.com/uc?export=view&id=0B9jrz1uzl_eNU2xWbVY0VGM2R2c" alt="Directions 1" >

        <p>Head into that street you see there marked with yellow and walk 1 block down the street called “Tøyenbekken” and then head to the right along
          “Nordbygata”. At the end of that street you’ll see this store:</p>
        <img src="https://drive.google.com/uc?export=view&id=0B9jrz1uzl_eNallFem5nYmtnU1E" alt="Directions 2" >

        <p>Go inside, tell them there’s a mini yellow purse/bag with your name on a note inside of it. Ask for it and they will hand it to you. Leave the store, go back the same
          path came from till you find this area which the arrow points. Head into that street.
        </p>
        <img src="https://drive.google.com/uc?export=view&id=0B9jrz1uzl_eNZFZ3UHB1bVlqYlE" alt="Directions 3" >

        <p>Cross the square through this path
        </p>
        <img src="https://drive.google.com/uc?export=view&id=0B9jrz1uzl_eNTDVGRTB0MTdHRFU" alt="Directions 4" >

        <p> and the building should be in front of you with a steel gate.
        </p>
        <h3>Straight to my place</h3>
        <p>Skip this part if you're already there</p>
        <p>Walk up the stairs, take a left turn and look between Kiwi and a restaurant called “Punjab Tandoori”. You want to cross the streets between
          these two buildings and keep walking along the street called Motzfeldts gate around 3 blocks till you find a large Mosque (which you’ll walk past)
          and a crossing street called “Urtegata”. This is my street. Take a right turn up on the pavement where cars are not allowed and walk till you find
          a steel gate. </p>
        <h2>Getting into my house</h2>
        <p>You should find a scanner on the right hand side of the entrance. Use the little black piece on the keys on the scanner ‘till you hear a buzzing
          sound, push the gate open. Head to the left when you enter the backyeard, and use the token to scan the little piece once again. On the second floor
          you’ll find my entrance right next to the elevator after taking a left turn when reaching the second floor.
          When turning the key, try to hold it a little bit downward in case you’re struggling to open it.</p>
        <h2>Safety</h2>
        <p>The Fire extinguisher is located in the closet right next to the entrance *insert pic*. The building also has a centralized fire alarm which
          never really triggers unless something severe happens, so it probably won’t. It’s important that you use the fan in the kitchen to not trigger any fire alarms</p>
	<h2>TV / HiFi system</h2>
	<p>These are some of your entertainment options: </p>
	<ul>
	<li> Netflix</li>
	<li> HBO Nordic</li>
	<li> Spotify</li>
	<li> Netflix</li>
	<li>Twitch TV</li>
	<li>Youtube</li>
	<li>Any app you can think of that has Chromecast TV / Audio support</li>
	</ul>
	<p>When watching TV pick the black remote and click «on» to turn the amplifier on. Then click the small button that says «tuner» (it should already be on tuner). </p>
	<p>Now you should be set to use either Apple TV, Smart TV apps or Chromecast apps using your phone. If you have no idea what I’m talking to I suggest you to pick up the Apple TV remote and 
	use that one which has Netflix and HBO.</p>
	<h2>Music</h2>
	<p>You can listen to music using the same settings on the amplifier as I listed earlier, while using Spotify Chromecast. My Chromecast stations are: Vdogg Chromecast. If connecting to this one 	make sure the TV is on. Also make sure you select the channel «tuner» on the Amplifier. In order to do this use your phone, computer or tablet and make sure your devices are connected to WIFI</p>
	<h2>Music only</h2>
	<p>You can also play music with the TV off. Turn the Amplifier on and select the channel «line». Use Chromecast Audio on your smartphone with Spotify to connect or any other app that can connect 	to Chromecast Audio.</p>
	<h2>Smart TV apps</h2>	
	<p>Click the colorful button on the small grey TV Samsung remote to get access to the Smart TV apps. They tend to be a little bit buggy, so I’d recommend you to use Apple TV.</p>



      </div>
    </div>
  </div>
</div>
