<div class="main">
  <div class="container">
    <h1>The player</h1>
    <a href="">Home</a>

    <div id="main">
      <h2>Tutorial      </h2>
      <p>ASDADasdad asdadasdasd asdald asd asdasd</p>
      <p>asdasdlkadøl adak døalskdøal kadkasødlka</p>
    </div>
  </div>
</div>