// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Pages controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/
// preprodweazure

  /* General */
html, body {
  margin: 0px; padding: 0px; border: 0px;
  height: 100%;
}

body {
  margin:0;
  padding:0;
  //background-image: url('http://s3.a
//mazonaws.com/codecademy-content/cour
//ses/learn-rails/img/bg-static.jpg');
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/bf/30/bd/bf30bd0873a0e514c454e6c11f124596.jpg');
  // https://s-media-cache-ak0.pinimg.com/736x/bf/30/bd/bf30bd0873a0e514c454e6c11f124596.jpg
  //background-image: url('../images/airbnbbg.jpg');
  background-repeat: repeat-y;
  background-position: right;
  //background-size: cover;
  background-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  width: 100%;
}

.container {
  margin: 0px; padding: 0px; border: 0px;
  width: 100%;
}

div#content {
  margin: 0px; padding: 0px; border: 0px;
  float:left;
  width: 85%;
  background-color: #fff;
  border-right: 2px red;
  padding-left: 2%;
  padding-right:2%;
}

/* Main */
.main {
  margin: 0px; padding: 0px; border: 0px;
  color: #483C32;
  position: relative;
  text-align: left;
  padding-left: 2%;
}

.main h1 {
  margin: 0px; padding: 0px; border: 0px;
  font-size: 400%;
  font-weight: 300;
}