// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Pages controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/


  /* General */
html, body {
  margin: 0px; padding: 0px; border: 0px;
  height: 100%;
}

body {
  margin:0;
  padding:0;
  background-image: url('http://s3.a
mazonaws.com/codecademy-content/cour
ses/learn-rails/img/bg-static.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0px; padding: 0px; border: 0px;
  width: 80%;
}

div.content {
  margin: 0px; padding: 0px; border: 0px;
  float:left;
  width: 60%;
  background-color: black;
}

/* Main */
.main {
  margin: 0px; padding: 0px; border: 0px;
  color: #fff;
  position: relative;
  text-align: center;
}

.main h1 {
  margin: 0px; padding: 0px; border: 0px;
  font-size: 400%;
  font-weight: 300;
}